<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.GodotShareData"
            android:value="com.lonje.sharing.GodotShareData" />
        <provider
            android:name="com.lonje.sharing.ShareFileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="com.lonje.jumpjump.sharefileprovider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>
</manifest>
